<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <%- include('layout'); -%>
    <div class="">
    </div>
    <div class="container">
      <span class=""><h1>Posts</h1></span>
    </div>
  </body>
</html>
